@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.start-button {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.start-button:hover::before {
    transform: scaleX(1);
}

.start-button-content {
    position: relative;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.start-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
}
