<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/startBtn.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Plague Simulation</title>
</head>
<body>

    <div class="control-bar">
        <label for="airborne-rate">Airborne Rate:</label>
        <input type="range" id="airborne-rate" min="0" max="1" step="0.01" value="0.5">
    </div>

    <div class="control-bar">
        <label for="mask-rate">Mask Rate:</label>
        <input type="range" id="mask-rate" min="0" max="1" step="0.01" value="0.5">
    </div>

    <div class="control-bar">
        <label for="activity-rate">Activity Rate:</label>
        <input type="range" id="activity-rate" min="0" max="1" step="0.01" value="0.5">
    </div>

    <button class="button" id="start-simulation">
        <span class="button-content">Start Simulation</span>
    </button>

    <div id="map"></div>
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>