<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/startBtn.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progressBar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Plague Simulation</title>
</head>
<body>

    <div class="control-bar">
        <label for="airborne-rate">Airborne Rate:</label>
        <input type="range" id="airborne-rate" min="0" max="1" step="0.01" value="0.5">
        <span class="value-display" id="airborne-value">0.5</span>
    </div>

    <div class="control-bar">
        <label for="mask-rate">Mask Rate:</label>
        <input type="range" id="mask-rate" min="0" max="1" step="0.01" value="0.5">
        <span class="value-display" id="mask-value">0.5</span>
    </div>

    <div class="control-bar">
        <label for="activity-rate">Activity Rate:</label>
        <input type="range" id="activity-rate" min="0" max="1" step="0.01" value="0.5">
        <span class="value-display" id="activity-value">0.5</span>
    </div>

    <div class="input-container">
        <input type="text" id="input" required value="5">
        <label for="input" class="label">Number of daily contacts</label>
        <div class="underline"></div>
    </div>

    <div class="result-container-a">
        <label for="result" class="label">a<sub>0</sub>:</label>
        <span class="value-display" id="result-a0-value">2.50</span>
    </div>

    <div class="result-container-p">
        <label for="result" class="label">p<sub>trans</sub>:</label>
        <span class="value-display" id="result-p-value">0.25</span>
    </div>

    <div class="result-container-infect">
        <label for="result" class="label">Infectivity parameter a:</label>
        <span class="value-display" id="result-infect-value">0.625</span>
    </div>

    <button class="button" id="start-simulation">
        <span class="button-content">Start Simulation</span>
    </button>

    <div id="map"></div>

    <div class="progress-loader">
        <div class="progress"></div>
        <div class="progress-text">Day 0</div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/shapefile@0.6.6/dist/shapefile.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js"></script>
    <script src="https://unpkg.com/geojson-leaflet@2.7.4/dist/geojson-leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>